<footer class="text-center pt-5 mt-5 ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-4 ">
          <div class="caption">
                <h3>LOCATION</h3>  
                <p>2215 John Daniel Drive</p>
                 <p>Clark, MO 65243</p> 
          </div>
            </div>
            <div class="col-lg-4 ">
              <div class="caption">
                  <h3>AROUND THE WEB</h3>  
                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a> 
                 <a href="#"><i class="fa-brands fa-twitter"></i></a> 
                 <a href="#"><i class="fa-brands fa-linkedin-in"></i></a> 
                 <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
              </div>
              </div>
              <div class="col-lg-4 ">
              <div class="caption">
                  <h3>ABOUT FREELANCER</h3>  
                   <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
              </div>
              </div>
        </div>
    </div>
   
</footer>
<div class="copyright p-2 text-center">
    <span>Copyright © Your Website 2021</span>
</div>