<div class="title mt-5 p-5">
    <div class="container mt-3 text-center">
            <h2>CONTACT ME</h2>
            <div class="mx-auto  w-50 mt-3 divide d-flex justify-content-center align-items-center" >
                <div class="line1 ">
        
                </div>
                <div class="icon">
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="line2  ">
        
                </div>
             </div>
    </div>
</div>
<div class="form">
    <div class="container ">
        <form class="w-75 m-auto ">
            <input class="form-control" type="text" placeholder="Name">
            <input class="form-control" type="email" placeholder="Email Address">
            <input class="form-control" type="number" placeholder="Phone Number">
            <textarea class="form-control" name="" id="" cols="30" rows="7" placeholder="Message"></textarea>
            <button class="btn p-3 text-white mx-4">Send</button>
        </form>
    </div>
</div>