input,textarea{
    margin:20px;
    padding:20px;
    border: none ;
    border-bottom: 1px solid rgb(233, 236, 239);
}
textarea{
    resize: none;
}
input::placeholder{
    font-size:24px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 36px;
    color:rgb(108, 117, 125)
}
textarea::placeholder{
    font-size:24px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 36px;
    color:rgb(108, 117, 125) ;
}
input:focus,textarea:focus{
    outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(233, 236, 239);
}
.btn{
    background-color: #23c997;
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    line-height: 30px;
    transition: all .3s linear;

}
.btn:hover{
    background-color: rgb(21, 154, 128);
}