nav{
    background-color: rgb(44, 62, 80) !important;
    font-family: "Montserrat", sans-serif ;
    z-index: 9;
}
.nav-link{
    color:#ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    transition: all .2s linear;
}
.navbar-brand{
    color:#ffffff;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;  
}
.mainColor{
color: rgb(26, 188, 156);
}
.nav-link:hover{
    color:rgb(26, 188, 156);
}